header{
    padding:20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.highscores {
    font-size: 10px;

}

.hover-color{
    list-style: none;
    font-size: 25px;
    margin-top: 10px;
    background-color: red;
    color: white;
    
    

}
#quiz{
    text-align: center;
}

.question{
    text-align: center;
    
}